<a href="https://colab.research.google.com/github/Vaibhav074N/Assignment-30Jan/blob/main/Assignment_30Jan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####Q1.

In [ ]:
marks=int(input("Enter a percentage:"))
if marks>90:
  print("Grade A")
elif marks>80 and marks<=90:
  print("Grade B")
elif marks>=60 and marks<=80:
  print("Grade C")
else:
  print("Grade D")

Enter a percentage:59
Grade D

#####Q2.

In [ ]:
cost_price=int(input("Enter cost price:"))
if cost_price>100000:
  print('Tax to be pay is: 15%')
elif cost_price>50000 and cost_price<=100000:
  print('Tax to be pay is: 10%')
else:
  print('Tax to be pay is: 5%')

Enter cost price:50000
Tax to be pay is: 5%

#####Q3.

In [ ]:
city = input("Enter a city name:")
if city=='Delhi':
  print("Monument is: Red Fort")
elif city=='Agra':
  print("Monument is: Taj Mahal")
else: 
  if city=='Jaipur':
    print("Monument is: Jal Mahal")

Enter a city name:Delhi
Monument is: Red Fort

####Q4.

In [2]:
def f(n):
    s=0
    for digit in str(n):
        s = s + int(digit)
    return s
n=input("enter a no.:")
print("Sum of digit: ",f(n))
if f(n)%3==0:
    a=int(n)/3
    print("number is divisible by three:",a)

enter a no.:66
Sum of digit:  12
number is divisible by three: 22.0

#####Q5.
#####Ans:
##### A loop that runs a single statement or a set of statements for a given true condition.This loop is represented by the keyworrd 'while' when the number of iterations is unknown,a while loop is used.The statement is repeated until the boolean value is false.Because the condition is tested at the beginning of a while loop, it is also known as the pre-test loop.

In [3]:
#Ex : program to calculate the sum of numbers until the user enters zero.
total=0
number=int(input("enter a no.:"))
while number != 0:
  total += number
  number=int(input("enter a no.:"))

print('total=',total)

enter a no.:6
enter a no.:7
enter a no.:3
enter a no.:4
enter a no.:5
enter a no.:0
total= 25

######Q6.

In [4]:
n= int(input("enter no. of rows:"))
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=' ')
        j =j+1
    print()
    i=i+1

enter no. of rows:6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [5]:
n=int(input("enter no. of rows:"))
i=1
while i<=n:
    j=n
    while j>=i:
        print("*",end=' ')
        j = j-1
    print()
    i =i+1

enter no. of rows:8
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
n=int(input("enter no. of rows:"))
k=1
i=1
while i<=n:
    j=1
    while j<=i:
        print("{:3d}".format(k),end=" ")
        j += 1
        k += 1
    print()
    i += 1

enter no. of rows:7
  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28

#####Q7.

In [13]:
# Revrse order
i=int(input("enter a no.:"))
while i>0:
    print(i)
    i = i-1

enter a no.:10
10
9
8
7
6
5
4
3
2
1

In [9]:
# Straight order
i=1
while i<=10:
    print(i,end=' ')
    i = i+1

1 2 3 4 5 6 7 8 9 10